language: node_js
sudo: false
cache: yarn
node_js: 9.9
git:
  depth: 2
script: yarn lint && yarn build
deploy:
  provider: pages
  local_dir: dist
  skip_cleanup: true
  github_token:
    secure: "S1H03qxGUFSZfzYgejLv4qAH+I1bphHGFredbXTp+DQgb4By86CJj1vxzJhwU64gSIF18NzPajsRZuXs32E9RHukflzRu64DSRa/Er1JXSQsdpKTCZCcgvHMuKisGkGBmhj23QGunIeqATgQVnAsGVuaY+U37g3pd9eGQ5tZ9iFhXI7KuEj6ncDJKXUlaXMSuNtLjv7jhsvFc8vFx1KsT3IoDAec13a6KMVU5BJQHjLeooGF5wsABNwiGBtHCUV7Sjh0Tr0vGUsV1CwnFI23BEPz7JKAY+RCsP6npak4n55a2UaGtO+YWjn2fHSMNGNLPn5N5s5xEYvq6d6bOyX583/vQw1MK1rb8igLJ5UUXjTAPWVc1D8+JAy7XhuNIw1dXAu/YRYfMfhCgfPWF5SyaT9yoJEjfgX7IWRRoWhrD2AxY1PQxk1UAazMg16Cljs9Wl7rZWRcuBeUjaX6IdVN9Z5QzCTPU5i65HtkqIoSiYT0FanM/gnhbsbNofgIfT1dgCr4rQpMybJ+/3VjtBzfkk47NWTnj1bk1fROpbOPbzQS8vPM1LT+XNRy9Kryx5es+61/idtAaAsRN4j+2yNQA1DtWx8b9Lpju2z9g2KC45pAcbr3hesxEGG76EXxoMGDtoSidHYmX0jVuem+RVMX4bgN0xnS2OrrBSc8fR5JM7c="
  on:
    tags: true
    branch: master
